/* You can add global styles to this file, and also import other style files */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/bootstrap.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

@media screen and (max-width: 1024px) {
  .hidden-small {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .hidden-large {
    display: none;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .hidden-small {
    display: block;
  }

  .hidden-large {
    display: hidden;
  }
}